*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/**/
/* 引入字体（本地文件夹） */
@font-face {
    font-family: 'footerfont';
    src: url(../font/演示夏行楷.ttf);
    }
i{
    font-size: 20px;
}
/* 所有界面的总容器设置 */
.allcontainer{
    display: flex;/*设置弹性盒*/
    flex-direction: column;/*让header、main、footer三大部分垂直排布*/
    height: 100vh;/*容器高度占满屏幕*/
    width: 100%;/*容器宽度占满屏幕*/
    background: transparent;/*背景透明*/
}
/*头部位置设置*/
.header{
    height: 8%;
    width: 100%;
    background: #e1e7ee;/*背景颜色*/
    display: flex;/*设置头部为弹性盒*/
    justify-content: center;/*盒子内的东西在水平方向上水平居中*/
    align-items: center;/*盒子内的东西在垂直方向上水平居中*/
}
/*导航栏*/
.nav{
    width: 60%;
    height: 70%;
    background: white;
    border: 1px solid transparent;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* 导航栏项目的设置 */
.nav-item{
    width: 35%;
    height: 60%;
    background: #e1e7ee;
    border: 1px solid transparent;
    border-radius: 25px;
    box-shadow: 2px 2px 1px black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-item span{
    background-color: transparent;
    color: skyblue;
    font-size: 20px;
}
.main{
    flex: 1;
    background-size: cover;
    background-position: center center;
    display: flex;
    position: relative;
}
.x-content{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: transparent;
    position: relative;
}
/* main区域的内容区域容器通用设置 */
 .x-content>ul>li{
    width: 90%;
    height: 90%;
    background: white;
    position: absolute;
    margin: 5%;
    display: none;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column;
}


/* main区域的各分区内容单独设置 */
.x-content li:nth-child(1){
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: space-around;

}
.x-content li:nth-child(1) div{
    background-color: aqua;
    font-size: 30px;
}

.x-content li:nth-child(3){
    background: transparent;
    justify-content: center;
    align-items: center;
}
#zhuye img{
    background-color: transparent;
}
.x-content li:nth-child(3) div:nth-child(2){
   background: rgb(64, 122, 221);
   color: white;
   font-size: 50px;
}
.x-content li:nth-child(5) div{
    background: rgb(64, 122, 221);
    color: white;
    font-size: 60px;
    height: 100%;
    width: 100%;
    display: flex;
 }



 /* 内容盒子 */
 .contentbox{
    width: 90%;
    height: 90%;
    background: red;
    text-align: center;
    margin-top: 20px;    
 }
.contentbox-title{
    border: 1px solid black;
    border-radius: 20px;
    background: yellow;
 }
 /* 内容盒子里的链接菜单 */
.contentbox li{
    text-align: left;
 }



 /*底部区域容器 */
.footer{
    height: 8%;
    width: 100%;
    background: #e1e7ee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.footer ul{
    width: 96%;
    height: 90%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer li{
    width: 15%;
    height: 80%;
    background: transparent;
    border: 0.5px solid transparent;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px black;

}
.footer span{
    background-color: transparent;
    font-size: 20px;
    font-family: "footerfont";

    


}
/* 当页脚菜单被点击时，配合js改变样式 */
.footer .active{
    background: rgb(143, 158, 169);
}

.main .active{
    display: flex;
}


 