@font-face {
  font-family: "iconfont"; /* Project id 4287902 */
  src: url('iconfont.woff2?t=1697434140259') format('woff2'),
       url('iconfont.woff?t=1697434140259') format('woff'),
       url('iconfont.ttf?t=1697434140259') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jizhangben:before {
  content: "\e61c";
}

.icon-jiaocheng:before {
  content: "\e72f";
}

.icon-zhuye:before {
  content: "\e65b";
}

.icon-yingyongguanli:before {
  content: "\e605";
}

.icon-dianshiji:before {
  content: "\e625";
}

