<!DOCTYPE html>
<html lang="cn">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sites</title>
  <link rel="icon" href="/icon/site_logo.jfif" sizes="16x16">
  <base target="_blank">
  <link rel="stylesheet" href="index.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
  <div class="all" id="app">

    <div class="blockOne">
      <a href="/pages/admin.html">momo</a>
    </div>


    <!-- 搜素框 -->
    <div class="blockTwo">
      <div class="search">
        <!-- <ul class="ss1">
          <li><img src="/icon/bing_logo.jfif" alt="" @chick="change_search_engine(bing)" class="opt"></li>
          <li><img src="/icon/google_logo.jfif" alt="" @chick="change_search_engine(bing)" class="opt"></li>
          <li><img src="/icon/baidu_logo.jpg" alt=""@chick="change_search_engine(bing)" class="opt"></li>
        </ul> -->
        <div class="ss1">
          <img :src="search_engine_icon" alt="" class="opt2">
          <div class="ss1_in">
            <img src="icon/bing_logo.png" alt="" class="opt" @click="change_search_engine('bing')">
            <img src="icon/bing_logo.png" alt="" class="opt" @click="change_search_engine('bing')">
            <img src="icon/bing_logo.png" alt="" class="opt" @click="change_search_engine('bing')">
            <img src="icon/bing_logo.png" alt="" class="opt" @click="change_search_engine('bing')">
            <img src="icon/google_logo.png" alt="" class="opt" @click="change_search_engine('google')">
            <img src="icon/bilbil_logo.png" alt="" class="opt" @click="change_search_engine('bilbil')">
            <img src="icon/csdn.png" alt="" class="opt" @click="change_search_engine('csdn')">
            <img src="icon/baidu_logo.png" alt="" class="opt" @click="change_search_engine('baidu')">
          </div>
        </div>

        <!-- <select name="search_engine" id=""class="ss1" v-on:change="change_search_engine" >
          <option value="bing" >-> bing</option>
          <option value="google" >-> google</option>
          <option value="baidu">-> baidu</option>
         </select> -->

        <input class="ss2" type="text" v-model="keyword" @keyup.enter="open_web">

        <!-- <div ></div> -->
        <img src="icon/search.png" class="ss3" @click="open_web">
      </div>
    </div>


    <!-- 网址展示 -->
    <div class="blockThree">
      <div class="navmenu">
        <div @click="changeState(1)">编程语言</div>
        <div @click="changeState(2)">应用制作</div>
        <div @click="changeState(3)">网云存储</div>
        <div @click="changeState(4)">资源网站</div>
        <div @click="changeState(5)">视频网站</div>
        <div @click="changeState(6)">社区论坛</div>
        <div @click="changeState(7)">网络加速</div>
        <div @click="changeState(8)">工具软件</div>
        <div @click="changeState(9)">公共服务</div>

        <div @click="changeState(100)">添加网址</div>
      </div>

      <!-- 编程语言 -->
      <div class="content" v-if="state == 1">

        <div class="sitesbox">
          <div class="sort">html + css</div>
          <div class="sites">
            <div v-for="item in htmlcss_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="sitesbox">
          <div class="sort">Javascript</div>
          <div class="sites">
            <div v-for="item in javascript_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="sitesbox">
          <div class="sort">SQL</div>
          <div class="sites">
            <div v-for="item in sql_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>



      </div>

      <!-- 应用制作 -->
      <div class="content" v-if="state == 2">

        <div class="sitesbox">
          <div class="sort">apk 制作</div>
          <div class="sites">
            <div v-for="item in mobile_apps_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="sitesbox">
          <div class="sort">exe 制作</div>
          <div class="sites">
            <div v-for="item in computer_apps_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>


      </div>

      <!-- 网云存储 -->
      <div class="content" v-if="state == 3">

        <div class="sitesbox">
          <div class="sort">网盘</div>
          <div class="sites">
            <div v-for="item in network_disk_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="sitesbox">
          <div class="sort">服务器</div>
          <div class="sites">
            <div v-for="item in network_server_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- 资源网站 -->
      <div class="content" v-if="state == 4">

        <div class="sitesbox">
          <div class="sort">图片资源</div>
          <div class="sites">
            <div v-for="item in resource_img_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="sitesbox">
          <div class="sort">影视资源</div>
          <div class="sites">
            <div v-for="item in resource_film_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>


        <div class="sitesbox">
          <div class="sort">教程资源</div>
          <div class="sites">
            <div v-for="item in resource_course_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- 视频网站 -->
      <div class="content" v-if="state == 5">

        <div class="sitesbox">
          <div class="sort">国内</div>
          <div class="sites">
            <div v-for="item in video_domestic_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="sitesbox">
          <div class="sort">国际</div>
          <div class="sites">
            <div v-for="item in video_international_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="sitesbox">
          <div class="sort">其他</div>
          <div class="sites">
            <div v-for="item in video_other_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- 论坛博客 -->
      <div class="content" v-if="state == 6">

        <div class="sitesbox">
          <div class="sort">社区论坛</div>
          <div class="sites">
            <div v-for="item in forum_public_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="sitesbox">
          <div class="sort">专业论坛</div>
          <div class="sites">
            <div v-for="item in forum_professional_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="sitesbox">
          <div class="sort">博客网站</div>
          <div class="sites">
            <div v-for="item in siteblog_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- 网络加速 -->
      <div class="content" v-if="state == 7">

        <div class="sitesbox">
          <div class="sort">网络加速</div>
          <div class="sites">
            <div v-for="item in net_speed_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="sitesbox">
          <div class="sort">网络代理</div>
          <div class="sites">
            <div v-for="item in net_proxy_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>



      </div>


      <!-- 工具软件 -->
      <div class="content" v-if="state == 8">

        <div class="sitesbox">
          <div class="sort">小工具</div>
          <div class="sites">
            <div v-for="item in tools_generic_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="sitesbox">
          <div class="sort">专业工具</div>
          <div class="sites">
            <div v-for="item in tools_professional_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- 公共服务 -->
      <div class="content" v-if="state == 9">

        <div class="sitesbox">
          <div class="sort">教育类</div>
          <div class="sites">
            <div v-for="item in public_edu_data" class="siteinfo">
              <img :src="item.img" alt="" class="webicon">
              <div>
                <a :href="item.url">{{item.name}}</a>
                <div>{{item.intro}}</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- 网站添加 -->
      <div class="content" v-if="state == 100">
        <form action="http://127.0.0.1:8080/sitecollection/info" class="siteform" method="post"
          enctype="multipart/form-data">
          <!-- 录入网站名称 -->
          <div class="row">
            <div class="name">网站名称</div>
            <input type="text" class="value" placeholder="请输入网站名称" name="name">
          </div>
          <!-- 录入网址url -->
          <div class="row">
            <div class="name">网址url</div>
            <input type="text" class="value" placeholder="请输入网址" name="url">
          </div>
          <!-- 录入网站简介 -->
          <div class="row">
            <div class="name">网站简介</div>
            <input type="text" class="value" placeholder="请输入网站简介" name="intro">
          </div>
          <!-- 选择分类1 -->
          <div class="row">
            <div class="name">classone</div>
            <select name="classone" class="value">
              <option value="编程语言" selected>编程语言</option>
              <option value="应用制作">应用制作</option>
              <option value="网盘服务">网云存储</option>
              <option value="资源网站">资源网站</option>
              <option value="视频网站">视频网站</option>
              <option value="社区论坛">社区论坛</option>
              <option value="网络加速">网络加速</option>
              <option value="工具软件">工具软件</option>
              <option value="公共服务">公共服务</option>
            </select>
          </div>
          <!-- 选择分类2 -->
          <div class="row">
            <div class="name">classtwo</div>
            <select name="classtwo" class="value">
              <option value="none" selected>none</option>
              <!-- 编程语言 -->
              <option value="htmlcss">htmlcss</option>
              <option value="javascript">javascript</option>
              <option value="sql">sql</option>
              <!-- 应用制作 -->
              <option value="mobile_apps">mobile_apps</option>
              <!-- 网云存储 -->
              <option value="network_disk">network_disk</option>
              <option value="network_server">network_server</option>
              <!-- 资源网站 -->
              <option value="resource_img">resource_img</option>
              <option value="resource_film">resource_film</option>
              <option value="resource_course">resource_course</option>
              <!-- 视频网站 -->
              <option value="video_domestic">video_domestic</option>
              <option value="video_international">video_international</option>
              <option value="video_other">video_other</option>
              <!-- 社区论坛 -->
              <option value="forum_public">forum_public</option>
              <option value="forum_professional">forum_professional</option>
              <option value="siteblog">siteblog</option>
              <!-- 网络加速 -->
              <option value="net_speed">net_speed</option>
              <option value="net_proxy">net_proxy</option>
              <!-- 工具软件 -->
              <option value="tools_generic">tools_generic</option>
              <option value="tools_professional">tools_professional</option>
              <!-- <option value=""></option> -->
              <!-- 公共服务 -->
              <option value="public_edu">public_edu</option>

            </select>
          </div>

          <input type="submit" value="ok">
          <!-- <button form-type="submit">提交</button> -->
        </form>
      </div>

    </div>
  </div>
</body>
<script>
  const { createApp, ref } = Vue
  const app = createApp({
    setup() {
      const state = ref(1)

      const backdata = ref([])
      // 编程
      const htmlcss_data = ref([])
      const javascript_data = ref([])
      const sql_data = ref([])
      // 应用
      const mobile_apps_data = ref([])
      const computer_apps_data = ref([])
      // 网盘
      const network_disk_data = ref([])
      const network_server_data = ref([])
      // 资源
      const resource_img_data = ref([])
      const resource_film_data = ref([])
      const resource_course_data = ref([])
      // 视频
      const video_domestic_data = ref([])
      const video_international_data = ref([])
      const video_other_data = ref([])

      // 论坛
      const forum_public_data = ref([])
      const forum_professional_data = ref([])
      const siteblog_data = ref([])
      // 网络
      const net_speed_data = ref([])
      const net_proxy_data = ref([])
      // 工具
      const tools_generic_data = ref([])
      const tools_professional_data = ref([])
      // 公共
      const public_edu_data = ref([])


      const changeState = (num) => {
        state.value = num
      }
      const getdata = () => {
        console.log('jingru');
        axios({
          method: 'get',//提交方法
          url: 'http://127.0.0.1:8080/sitecollection/infoall'    //提交地址
          // params: {
          // username,
          // }
        }).then((res) => {
          let ress = res.data
          backdata.value = ress
          console.log(ress);

          // 编程语言
          htmlcss_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'htmlcss'
          })
          javascript_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'javascript'
          })
          sql_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'sql'
          })

          // 应用制作
          mobile_apps_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'mobile_apps'
          })
          computer_apps_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'computer_apps'
          })

          // 网云存储
          network_disk_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'network_disk'
          })
          network_server_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'network_server'
          })

          // 资源网站
          resource_img_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'resource_img'
          })
          resource_film_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'resource_film'
          })
          resource_course_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'resource_course'
          })

          // 视频网站
          video_domestic_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'video_domestic'
          })
          video_international_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'video_international'
          })
          video_other_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'video_other'
          })

          // 社区论坛
          forum_public_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'forum_public'
          })
          forum_professional_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'forum_professional'
          })
          siteblog_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'siteblog'
          })


          // 网络加速
          net_speed_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'net_speed'
          })
          net_proxy_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'net_proxy'
          })

          // 工具软件
          tools_generic_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'tools_generic'
          })
          tools_professional_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'tools_professional'
          })

          // 公共服务
          public_edu_data.value = ress.filter(function (arr) {
            return arr.classtwo == 'public_edu'
          })



          console.log(ress);

          // alert('数据获取成功');
        })
      }
      getdata()


      // 搜索框脚本
      const keyword = ref('')
      const baseurl = ref('https://cn.bing.com/search?q=')
      const search_engine_icon = ref('icon/bing_logo.png')


      const change_search_engine = (momo) => {
        console.log("001");
        switch (momo) {
          case 'google':
            baseurl.value = 'https://www.google.com/search?q='
            search_engine_icon.value = 'icon/google_logo.png'
            break
          case 'baidu':
            baseurl.value = 'https://baidu.com/s?wd='
            search_engine_icon.value = 'icon/baidu_logo.png'
            break
          case 'bilbil':
            baseurl.value = 'https://search.bilibili.com/all?keyword='
            search_engine_icon.value = 'icon/bilbil_logo.png'
            break
          case 'bing':
            baseurl.value = 'https://cn.bing.com/search?q='
            search_engine_icon.value = 'icon/bing_logo.png'
            break
          case 'csdn':
            baseurl.value = "https://so.csdn.net/so/search?q="
            search_engine_icon.value = 'icon/csdn.png'
            break
          default:
            console.log("nono");
            break;
        }









      }
      const open_web = () => {
        if (keyword.value == '') {
          alert('请输入')
        } else {
          window.open(`${baseurl.value}` + `${keyword.value}`)
        }
      }



      return {
        state,
        backdata,
        keyword,
        baseurl,
        search_engine_icon,

        htmlcss_data,
        javascript_data,
        sql_data,

        mobile_apps_data,
        computer_apps_data,

        network_disk_data,
        network_server_data,

        resource_img_data,
        resource_film_data,
        resource_course_data,

        video_domestic_data,
        video_international_data,
        video_other_data,

        forum_public_data,
        forum_professional_data,
        siteblog_data,

        net_speed_data,
        net_proxy_data,

        tools_generic_data,
        tools_professional_data,

        public_edu_data,

        changeState,
        getdata,

        change_search_engine,
        open_web,



      }
    }
  })
  app.mount("#app")
</script>

</html>